*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: rgb(232, 232, 237);
}
.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  min-width: 320px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  left: 10px; right: 10px; top: 5px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #000;
  z-index: 999;
  transition: 0.5s;
  min-width: 300px;
}
.header__view{
  padding-bottom: 60px;
}
.header__container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo {
  font-size: 24px;
  font-weight: bold;
}
.header__login {
  background-color: #ff7f50;
  background-image: url('../icons/login-user_icon.svg');
  width: 50px;
  height: 50px;
  background-size: 50px;
  background-repeat: no-repeat;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.header__buttons{
  display: flex;
  align-items: center;
  gap: 15px;
}
.search__product-button {
  width: 50px;
  height: 50px;
  background-image: url('../icons/search-icon.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff7f50;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.search__product-button:hover {
  background-color: #ff6347;
}
.burger__menu {
  display: none;
  width: 50px;
  height: 50px;
  background-image: url('../icons/burger-menu.svg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-color: #ff7f50;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.hidden__link {
  display: none;
}
.header__logout {
  display: none;
}
.open__logout{
  display: block;
}
.userProfile {
  display: none;
}
.userProfile__open {
  cursor: pointer;
  display: block;
  display: flex;
  align-items: center;
}
.user__pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.cart__button {
  background-color: #ff7f50;
  background-image: url('../icons/cart-shopping_icon.svg');
  width: 50px;
  height: 50px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}
.header__button:hover { 
  background-color: #ff6347; 
}
.add__product {
  background-color: #ff7f50;
  background-image: url('../icons/add-new-product_icon.svg');
  width: 50px;
  height: 50px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}
.add__product:hover {
  background-color: #ff6347; 
}
.products__category {
  background-color: #ff7f50;
  background-image: url('../icons/category-product.svg');
  width: 50px;
  height: 50px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}
.products__category:hover {
  background-color: #ff6347; 
}
.search__product-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  opacity: 1;
  transition: 1s;
  visibility: visible;
}
.user__modal {
  position: fixed;
  top: 100px;
  right: 10px;
  max-width: 500px;
  width: calc(100% - 20px);
  min-width: 300px;
  z-index: 1;
  flex-direction: column;
  gap: 10px;
  border: solid 1px #000;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.user__modal-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user__modal-title {
  color: #333;
  font-size: 20px;
}
.user__modal-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.user__modal-close {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  background: none;
  border: 1px solid #000;
  border-radius: 5px;
  color: #333;
  transition: background-color 0.3s ease;
}
.user__modal-close:hover {
  background-color: rgba(255, 0, 0, 0.655);
}
.user__modal-logout:hover {
  background-color: #0056b3;
}
.user__modal-edit:hover {
  background-color: #0056b3;
}
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 100px;
  align-items: flex-start;
  justify-content: space-between;
  align-content: flex-start;
  width: 100%;
}
.search__container {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-height: 40px;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  z-index: 1;
  padding: 10px;
  background-color: #f9f9f9;
  transition: 0.5s;
}
.hidden__search-overlay {
  max-height: 0;
  padding: 0 10px ;
}
.search__products {
  display: flex;
  padding-top: 40px;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 100px;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
}
.hidden__search-clean {
  display: none;
}
.search__product-clear {
  width: 100px;
  height: 38px;
  cursor: pointer;
  color: #f9f9f9;
  background-color: #007bff;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 20px;
}
.search__product-clear:hover {
  background-color: #0056b3;
}
.product {
  box-sizing: content-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: baseline;
  gap: 15px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  min-width: 250px;
  width: 22%;
  min-height: 530px;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}
.search__product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  min-width: 300px;
  width: 22%;
  height: 500px;
  position: relative;
  gap: 15px;
  max-width: 400px;
  min-width: 300px;
  padding: 20px;
}
.product img {
  height: 300px;
  object-fit: contain;
  transition: transform 0.3s ease;
  align-self: center;
}
.product:hover img {
  transform: scale(1.1);
}
.product__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.product__description {
  font-size: 0.9rem;
  color: #666;
}
.product__category {
  text-decoration: underline;
}
.product__buttons {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.product__button{
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.product__button:hover {
  background-color: #0056b3;
}
.update__button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.update__button:hover {
  background-color: #0056b3;
}
.cart {  
  right: 10px;
  top: 100px;
  height: calc(100vh - 200px);
  max-width: 500px;
  width: calc(100% - 20px);
  min-width: 300px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.cart__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.cart__container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: calc(100vh - 300px);
}

.cart-item__counter{
  display: flex;
}
.cart__item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}
.cart-item__name {
  font-size: 1.2rem;
  font-weight: bold;
}
.cart-item__price {
  font-size: 1.1rem;
  color: #666;
}

.cart-item__counter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item__minus,
.cart-item__plus {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-item__minus:hover,
.cart-item__plus:hover {
  background-color: #0056b3;
}

.cart-item__count {
  width: 40px;
  padding: 5px;
  text-align: center;
}

.cart-item__remove {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-item__remove:hover {
  background-color: #cc0000;
}

.cart__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.cart__pay {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.cart__pay:hover {
  background-color: #0056b3;
}
.categorys__container {
  right: 10px;
  top: 100px;
  max-width: 500px;
  width: calc(100% - 20px);
  height: auto;
  min-width: 300px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.categorys__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.categorys__clear-button {
  width: 100%;
  height: 38px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #f9f9f9;
  background-color: #007bff;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 20px;
  transition: background-color 0.3s ease;
}
.categorys__clear-button:hover {
  background-color: #0056b3;
}
.category__name {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color;
}
.category__name:hover{
  background-color: #0056b3;
  color: #f9f9f9;
}
.category__name--active {
  background-color: #0056b3;
  color: #f9f9f9;
}
.total__price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
}
.full__price{
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
}

.hidden {
  display: none;
}
.hidden__input {
  opacity: 0;
  visibility: collapse;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  
}
.overlay__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10px;
  top: 100px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: calc(100% - 20px);
  min-width: 300px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.form__edit-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.overlay__title {
  font-size: 1.5rem;
}
.form__edit-profile label {
  font-weight: bold;
}

.form__edit-profile input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form__edit-profile button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form__edit-profile button:hover {
  background-color: #0056b3;
}
.order__id {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.order__price {
  margin: 20px;
}
.form__add-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form__update-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.overlay__title {
  font-size: 1.5rem;
}
.form__add-product label {
  font-weight: bold;
}
.form__add-product input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form__add-product button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form__add-product button:hover {
  background-color: #0056b3;
}

.form__update-product label {
  font-weight: bold;
}
.form__update-product input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form__update-product button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form__update-product button:hover {
  background-color: #0056b3;
}

