@media (max-width: 500px) {
  .burger__menu {
    display: block;
    z-index: 2;
  }
  .header__buttons {
    visibility: collapse;
    opacity: 0;
    width: 0px;
  }
  .header__buttons--active {
    display: flex;
    visibility: visible;
    opacity: 1;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 95%;
    gap: 10px;
    z-index: 1;
  }
  .header__view {
    padding-bottom: 60px;
  }
  .search__container {
    padding: 0;
    width: 100%;
    bottom: auto;
    top: 50px;
  }
  .hidden__search-overlay {
    max-height: 40px;
  }
  .search__product-button {
    display: none;
  }
  .add__product {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: 30px;
    padding: 0;
  }
  .cart__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: 30px;
    padding: 0;
  }
  .products__category {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: 30px;
    padding: 0;
  }
  .user__pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: 30px;
    padding: 0;
  }
  .header__login {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: 30px;
    padding: 0;
    background-position: center;
  }
}